<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>i.simple_todo</title>
<link href="./static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page">
    <div class="header box">
        <h1><a href="/">I.simple_todo 任务跟踪</a></h1>
    </div>

    <div class="main box">
        <h3>待办事项</h3>
        <ul>
            <li>xxxxxxxxxxxxxxxxxxx</li>
            <li>yyyyyyyyyyyyyyyyyyy</li>
            <li>ooooooooooooooooooo</li>
        </ul>
        <h3>新增</h3>
        <input type="text" />
        <input type="submit" />
    </div>

    <div class="foot">
        Copyright &copy; Name 
        作者 <a href="http://simple-is-better.com/">Python.cn(news, jobs)</a>
        &nbsp;
        <a href="http://webpy.org" target="_blank"><img src="./static/doing.gif" alt="powered by web.py" /></a>
    </div>
</div>
</body>

</html>
