<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>i.simple_todo</title>
<link href="" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page">
    <div class="header box">
        <h1><a href="/">i.simple_todo</a></h1>
    </div>

    <div class="main box">
    <p>just a simple test with web.py</p>
    </div>

    <div class="foot">
        Copyright&copy; i.simple_todo
        作者 <a href="http://www.vose.me/"> vose.me :) </a>
        &nbsp;
        <a href="http://webpy.org" target="_blank"><img src="./static/doing.gif" alt="powered by web.py" /></a>
    </div>
</div>
</body>
</html>
